asgiref==3.5.1
Django==3.2.13
jedi==0.18.1
mysqlclient==2.1.0
packaging==21.3
parso==0.8.3
#pkg_resources==0.0.0
pudb==2022.1.1
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
sqlparse==0.4.2
typing_extensions==4.2.0
urwid==2.1.2
urwid-readline==0.13
